.theme-toggle {
    cursor: pointer;
    text-indent: -9999px;
    width: 60px;
    height: 30px;
    background: #36d874;
    display: block;
    border-radius: 100px;
    position: relative;
    float: right;
}

.theme-toggle:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + .theme-toggle {
    background: grey;
}

input:checked + .theme-toggle:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}
